# Test ngen-topmodel integration

name: Ngen Integration Tests

# Controls when the action will run.
on:
  push:
    branches: [ master, dev, notreal ]
  pull_request:
    branches: [ master, dev, notreal ]
  workflow_dispatch:

env:
  # Obtained from https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#supported-runners-and-hardware-resources
  # TODO: add something later that can check the runners for hyperthreading
  LINUX_NUM_PROC_CORES: 2
  MACOS_NUM_PROC_CORES: 3
  ASAN_OPTIONS: detect_leaks=false

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # Run general unit tests in linux environment
  test_topmodelbmi:
    # The type of runner that the job will run on
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checkout and save the topmodel to a temporary directory
      - name: Checkout the commit
        uses: actions/checkout@v4

      - name: Save Topmodel to a Temp Directory
        run: |
          # Move files to a temporary directory
          mkdir ${{runner.temp}}/topmodel
          mv ./* ${{runner.temp}}/topmodel

      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: checkout actions in another repo
        uses: actions/checkout@v4
        with:
          repository: noaa-owp/ngen

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.12"
          enable-cache: false

      - name: Install python via uv
        run: uv python install --default

      - name: Install gcc12 on MacOS
        if: runner.os == 'macOS'
        run: |
          brew install gcc@12

      - name: Build Surfacebmi
        id: submod_build_1
        uses: ./.github/actions/ngen-submod-build
        with:
          mod-dir: " extern/noah-owp-modular/"
          targets: "surfacebmi"
          cmake-flags: "-DNGEN_IS_MAIN_PROJECT:BOOL=ON"

      - name: Build ISO C Fortran BMI
        id: submod_build_2
        uses: ./.github/actions/ngen-submod-build
        with:
          mod-dir: "extern/iso_c_fortran_bmi/"

      - name: Build PET
        id: submod_build_5
        uses: ./.github/actions/ngen-submod-build
        with:
          mod-dir: "extern/evapotranspiration/evapotranspiration"
          targets: "petbmi"

      - name: Build SLoTH
        id: submod_build_6
        uses: ./.github/actions/ngen-submod-build
        with:
          cmake-flags: -DCMAKE_POLICY_VERSION_MINIMUM=3.5
          mod-dir: "extern/sloth/"
          targets: "slothmodel"

      # Build Ngen and save some files
      - name: Build Ngen
        id: ngen_id1
        uses: ./.github/actions/ngen-build
        with:
          targets: "ngen"
          build-cores: ${{ env.LINUX_NUM_PROC_CORES }}
          #is this required for this test?
          bmi_c: 'ON'
          bmi_fortran: 'ON'
        timeout-minutes: 15

      # For the time being, generate a CMake build directory aligned as if this was a submodule (i.e., under extern/)
      # However, don't use the code or CMakeLists.txt there (and don't use ngen-submod-build)
      - name: Prepare to Build Topmodel Library for Ngen
        run: cmake -B extern/topmodel/cmake_build -g -Og -fsanitize=address -Werror -S ${{runner.temp}}/topmodel/

      - name: Build Topmodel
        id: submod_build_4
        run: cmake --build extern/topmodel/cmake_build --target topmodelbmi
 
      - name: Run petbmi, topmodelbmi
        run: |
          # Run ngen with topmodel & pet
          mv ${{ steps.ngen_id1.outputs.build-dir }} ./ngen-build/
          cp extern/topmodel/topmodel/data/*.dat data
          inputfile='extern/topmodel/topmodel/data/realization_config_topmodel_pet_ngen.json'
          ./ngen-build/ngen ./data/catchment_data.geojson "cat-27" ./data/nexus_data.geojson "nex-26" $inputfile

      - name: Run surfacebmi, topmodelbmi
        run: |
          # Run ngen with noahowpmod & topmodel
          inputfile='extern/topmodel/topmodel/data/realization_config_topmodel_ngenCI.json'
          ./ngen-build/ngen ./data/catchment_data.geojson "cat-27" ./data/nexus_data.geojson "nex-26" $inputfile
